@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@400;700&display=swap');

:root {
    --primary-color: #7e22ce;
    --gray: #6b7280;
    --light-gray: #f9fafb;
    --white: #ffffff;
    --black: #171717;
    color: var(--black);
    background-color: var(--light-gray);
}

body {
    margin: 0;
}

.hero {
    background-color: var(--primary-color);
    border-radius: 0rem 1rem;
    color: var(--white);
    width: 100%;
    display: flex;
}

.brand {
    cursor: default;
    padding: 1rem 0.5rem;
    font-size: 1.5em;
    margin-block-start: 0%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nav-item-box {
    margin-left: auto;
    margin-top: auto;
}

.nav-item-list {
    display: inline;
    padding: 0rem 1rem;
    text-align: center;
    font-size: 1.2em;
}

.selected {
    font-weight: bold;
    cursor: default;
}

header a {
    text-decoration: none;
    color: var(--white);
}

main {
    margin-left: 5%;
    width: 90%;
    font-size: 1.5em;
    display: flex;
    padding-bottom: 2.5rem;
}

.sub-content {
    color: var(--gray);
}

main h1 {
    font-size: 2em;
}

main img {
    margin-top: 2em;
    margin-left: auto;
}

button {
    border-radius: 0.5rem;
    font-size: .8em;
    padding: 1rem;
    border-width: 0em;
    margin-right: 1rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.button-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white);
}

.button-secondary {
    background-color: var(--white);
    border: solid;
    color: var(--gray);
}

.foot {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foot h3 {
    font-weight: normal;
}

.foot a {
    font-size: 1.2em;
    color: var(--white);

