@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@400;700&display=swap');

:root {
    --violet: #7e22ce;
    --primary-color: var(--violet);
    --gray: #6b7280;
    --dark-gray: #1f2937;
    --light-gray: #f9fafb;
    --primary-bg-color: var(--light-gray);
    --white: #ffffff;
    --black: #171717;
    --red: #ef4444;
    --green: #22c553;
    --yellow: #facc15;
    --blue: #3b82f6;
    --sky: #0ea5e9;
    color: var(--black);
    background-color: var(--light-gray);
}

body {
    margin: 0;
}

hr {
    margin: 1rem 0rem;
}

section {
    margin: 0.5rem 1rem;
}

iframe {
    display: block;
    width: 100%;
    height: 35vh;
    background-color: var(--primary-bg-color);
}

.avatar {
    padding: 0rem 1rem;
    height: 20vh;
    width: 20vh;
}

.round {
    border-radius: 100%;
}

.l {
    height: 25vh;
    width: 25vh;
}

.sm {
    height: 15vh;
    width: 15vh;
}

.alert div {
    border: 0px solid;
    border-radius: 0.5rem;
    margin: 1rem 1rem;
    padding: 1rem 0rem;
}

.alert {
    text-align: center;
    border: 1px solid;
    border-radius: 0.5rem;
    margin: 1rem 1rem;
    padding: 1rem 0rem;
}

.primary {
    --primary-color: var(--blue);
    background-color: var(--primary-color);
}

.success {
    --primary-color: var(--green);
    background-color: var(--primary-color);
}

.error {
    --primary-color: var(--red);
    background-color: var(--primary-color);
}

.warning {
    --primary-color: var(--yellow);
    background-color: var(--primary-color);
}

.alert .outline {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-bg-color);
}

.icon {
    position: relative;
    margin: 1rem;
}

.badge {
    display: inline-block;
}

.badge .numbered {
    text-align: center;
    color: var(--white);
    border-radius: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--red); 
    position: absolute;
    top: 8px;
    right: 8px;
}

.dot {
    position: relative;
}

.dot span {
    background-color: var(--red);
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    border: 1px solid var(--primary-bg-color);
}

.badge .top {
    position: absolute;
    top: 1em;
    right: 2em;
}

.badge .bottom {
    position: absolute;
    bottom: 1em;
    right: 2em;
}

.snackbar .baseline {
    text-align: center;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    position: fixed;
    bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#btnControl:checked + div {
    visibility: visible;
}

.slider {
    width: 100%;
    display: inline;
}

.slider input {
    width: 80%;
    padding: 0;
}

.slider output {
    padding: 1rem;
}

.progress-bar {
    border: 1px solid var(--sky);
    border-radius: 8px;
    height: 16px;
}

.progress-level {
    height: inherit;
    border-radius: inherit;
    background: var(--sky);
}
