@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@400;700&display=swap');

.Loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #552586;
  border-right: 16px solid #804FB3;
  border-bottom: 16px solid #9969C7;
  border-left: 16px solid #B589D6;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

:root {
    --violet: #7e22ce;
    --violet-light: #7e22ce73;
    --primary-color: var(--violet);
    --gray: #6b7280;
    --dark-gray: #1f2937;
    --light-gray: #f9fafb;
    --primary-bg-color: var(--light-gray);
    --white: #ffffff;
    --black: #171717;
    --red: #ef4444;
    --green: #22c553;
    --yellow: #facc15;
    --blue: #3b82f6;
    --sky: #0ea5e9;
    color: var(--black);
    background-color: var(--light-gray);
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

hr {
    margin: 1rem 0rem;
}

section {
    margin: 0.5rem 1rem;
}

iframe {
    display: block;
    width: 100%;
    height: 35vh;
    background-color: var(--primary-bg-color);
}

.main-layout {
    display: flex;
    flex-direction: row;
}

.side-nav-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    position: fixed;
    height: 100%;
}

.nav-bar {
    background: var(--sky);
    z-index: 20;
    min-width: 160px;
    padding: 24px 16px;
}

.side-nav-section a {
    text-decoration: none;
    color: var(--white);
}

.avatar {
    padding: 0rem 1rem;
    height: 20vh;
    width: 20vh;
}

.round {
    border-radius: 100%;
}

.l {
    height: 25vh;
    width: 25vh;
}

.sm {
    height: 15vh;
    width: 15vh;
}

.alert div {
    border: 0px solid;
    border-radius: 0.5rem;
    margin: 1rem 1rem;
    padding: 1rem 0rem;
}

.alert {
    text-align: center;
    border: 1px solid;
    border-radius: 0.5rem;
    margin: 1rem 1rem;
    padding: 1rem 0rem;
}

.primary {
    --primary-color: var(--blue);
    background-color: var(--primary-color);
}

.success {
    --primary-color: var(--green);
    background-color: var(--primary-color);
}

.error {
    --primary-color: var(--red);
    background-color: var(--primary-color);
}

.warning {
    --primary-color: var(--yellow);
    background-color: var(--primary-color);
}

.alert .outline {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-bg-color);
}

.icon {
    position: relative;
    margin: 1rem;
}

.badge {
    display: inline-block;
}

.badge .numbered {
    text-align: center;
    color: var(--white);
    border-radius: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: var(--red);
    position: absolute;
    top: 8px;
    right: 8px;
}

.dot {
    position: relative;
}

.dot span {
    background-color: var(--red);
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
    border: 1px solid var(--primary-bg-color);
}

.badge .top {
    position: absolute;
    top: 1em;
    right: 2em;
}

.badge .bottom {
    position: absolute;
    bottom: 1em;
    right: 2em;
}

.snackbar .baseline {
    text-align: center;
    background-color: var(--dark-gray);
    color: var(--light-gray);
    position: fixed;
    bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#btnControl:checked + div {
    visibility: visible;
}

.slider {
    width: 100%;
    display: inline;
}

.slider input {
    width: 80%;
    padding: 0;
}

.slider output {
    padding: 1rem;
}


/* Button */
.button-container{
    padding: .5rem 3rem;
}

.btn{
    padding: .5rem 2rem;
    margin: 0 .5rem;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn-primary{
    border: 1px solid var(--violet);
}

.btn-primary-dark{
    background-color: var(--violet);
    color: var(--white)
}

.btn-primary-light{
    background-color: var(--violet-light);
    color: var(--white)
}

.btn-link{
    text-decoration: underline;
    color: var(--violet);
}

.btn-rounded{
    border-radius: 50px;
}

.progress-bar {
    border: 1px solid var(--sky);
    border-radius: 8px;
    height: 16px;
}

.progress-level {
    height: inherit;
    border-radius: inherit;
    background: var(--sky);
}

.checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.checkbox label {
    position: relative;
    cursor: pointer;
}

.checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--sky);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid var(--sky);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.card {
    border: 1px solid var(--black);
    margin: 1rem;
    width: 25%;
}

.shadow {
    border: 0;
    box-shadow: 0 4px 8px 0 var(--gray);
}

.card img {
    width: 100%;
    height: 20rem;
}

.card .container {
    padding: 0 1rem 0.5rem 0.5rem;
}

.card .title {
    color: var(--gray);
}

.collapsible .container {
    visibility: hidden;
    width: fit-content;
}

#btnCollapse:active + div {
    visibility: visible;
}

.divider {
    outline: 1px solid var(--sky);
    margin: 4px 0;
}

.pagination {
    list-style-type: none;
}

.page-item {
    display: inline-block;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: normal;
    background: var(--sky);
    cursor: pointer;
    position: relative;
    border-radius: 4px 4px 4px 4px;
}

.page-item a {
    text-decoration: none;
    color: var(--white);
}


/* Carousel */

.carousel {
    margin-left: 15%;
    margin-right: 15%;
}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}


.slide-container {
    display: block;
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }
